TEI{
   -oxy-display-tags: none;
   background-image: url("../images/background.png");
   background-repeat: repeat;
   background-position: center;
}
teiHeader,
fileDesc,
titleStmt,
publicationStmt,
p,
sourceDesc,
body,
text,
profileDesc,
textDesc{
    -oxy-display-tags: none;
    display: block;
    margin: 1em;
    text-align: center;
}
textDesc,
derivation,
purpose,
langUsage,
language,
channel,
domain,
constitution,
person{
    -oxy-display-tags: none;
}
title{
    font-size: 1.6em;
    font-weight: 500;
    color: #6c868f;
    -oxy-display-tags: none;
    padding: 0.2em;
    background-color: #fffdf3;
}
publicationStmt p, sourceDesc p{
    padding: 0.2em;
    background-color: #fffdf3;
    color: #6c868f;
    display: inline-block;
}
list{
    display: block;
    -oxy-display-tags: none;
}
item{
    background-color: #ffcfb1;
    color: #6c868f;
    border-radius: 4px;
    margin: 1em;
    padding: 1em;
    -oxy-display-tags: none;
      
}
persName{
    -oxy-display-tags: none;
    width: 50%;
    color: white;
    opacity: 0.5;
}
email{
    -oxy-display-tags: none;
    width: 50%;
    color: white;
    opacity: 0.5;
}
note{
    -oxy-display-tags: none;
    width: 100%;
    display: table-cell;
    text-align: center;
    margin-top: 1em;
}
surname{
    -oxy-display-tags: none;
}
forename{
    -oxy-display-tags: none;
}
roleName{
    -oxy-display-tags: none;
}
list {
  content: oxy_button(actionID, 'Insert_New_Entry', showText, true);
}
channel, derivation, purpose, domain, constitution{
  border-radius: 10px;  
  padding-left: 10px;
  padding-right: 10px;
  background-color:  rgb(255 , 207 , 177) ;
  color: rgb(108 , 134 , 143);
  margin: 0.3em;
}
derivation{
  content: attr(type);
}
purpose{
  content: attr(type);
}
purpose[degree="hoch"]{
    background-color: red;
    color: white;
}
purpose[degree="mittel"]{
    background-color: yellow;
    color: white;
}
purpose[degree="niedrig"]{
    background-color: green;
    color: white;
}
constitution{
    display: block;
}
language::before{
    content: "Sprache: ";
    color: rgb(108 , 134 , 143); 
}
language{
    color: rgb(108 , 134 , 143);
}